*,
::before,
::after {
  box-sizing: border-box;
}

input[type='text']:focus{
  border: none;
}

.context-menu{
  position: absolute;
  right: 1em;
  top: 4em;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  width: 5em;
  transform: translateY(-.5em);
  transition: all 0.5s ease-in-out 0s ;
}

.parent-context-menu:hover .context-menu{
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}


/* Cool Scrollbar */
.cool-scrollbar::-webkit-scrollbar{
  width: .3vw;
}

.cool-scrollbar::-webkit-scrollbar-thumb{
  background: #4a4a4a;
  border-radius: 100vmax;
  transition: opacity .5s ease-in-out 0s;
}

.cool-scrollbar::-webkit-scrollbar-track{
  border-radius: 100vmax;
  /* display: none; */
  background-color: #888;
}

/* active link  */
.inactive-link{
  background: transparent;
  color:#555555
}

.active-link{
  background: #4a4a4a;
  color: #fff;
}

/* Media Queries */

.chat-room-partioner{
  grid-template-columns: 1fr 2fr;
}

.chat-room-logo{
  display: flex ;
}

.chat-room-sidebar{
  display: none;
}

@media not all and (min-width: 640px) {
  .login-page {
      flex-direction: column;
  }

  .chat-container{
    font-size: 0.8rem;
  }
}

@media not all and (min-width: 768px) {
  .chat-room-partioner {
      grid-template-columns: 1fr;
  }

  .md-side-bar, .chat-room-logo{
    display: none;
  }

  .chat-room-sidebar{
    display: block;
  }

}